/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 75px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 30px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (tick - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (tick) when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (tick) */
.checkmark:after {
    left: 10px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-container .plus-minus {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    font-weight: bold;
    cursor: pointer;
}

.readonly-checkbox {
    pointer-events: none;
    opacity: 0.6;
}

.checkbox-container.level-2 {
    margin-left: 30px;
}

.checkbox-container.level-3 {
    margin-left: 60px;
}

.checkbox-container.level-4 {
    margin-left: 90px;
}

.checkbox-container.level-5 {
    margin-left: 120px;
}

.checkbox-container.level-6 {
    margin-left: 150px;
}

.checkbox-container.level-7 {
    margin-left: 180px;
}

.checkbox-container.level-8 {
    margin-left: 210px;
}

.checkbox-container.level-9 {
    margin-left: 240px;
}

.checkbox-container.level-10 {
    margin-left: 270px;
}

.category-select {
    max-height: 300px;
    min-height: 150px;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
}

.category-select .search {
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
}
