/* FONT STACK */
body,
input, select, textarea {
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #004C6A;
}

a {
    border-radius: 0 !important;
}

button {
    border-radius: 0 !important;
}

input {
    border-radius: 0 !important;
}

select {
    border-radius: 0 !important;
}

p {
    font-size: 20px;
}

.topbar {
    background: #004C6A;
    min-height: 60px;
    color: #FFFFFF;
    font-size: 20px;
}

.topbar-logo {
    height: 45px;
    margin-left: 20px;
}

.nav-wl {
    padding: 0 1rem;
    background: #336F87;
    min-height: 60px;
    color: #FFFFFF;
    font-size: 24px;
}

.nav-wl .nav-item {
    padding-left: 50px;
    padding-right: 50px;
}

.nav-wl .nav-item a {
    color: #FFFFFF !important;
}

.nav-wl .nav-item a:hover {
    color: #FFFFFF;
}

.nav-wl .vertical-line {
    height: 60px;
    border-left: 1px solid #FFFFFF;
}

.pills-wl {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 2px solid #707070;
}

.pills-wl.sub-pills {
    padding-bottom: 20px;
    border-bottom: 2px solid #004C6A;
}

.pills-wl li a {
    color: #004C6A;
}

.pills-wl li a.active {
    border: 2px solid #707070;
    color: #004C6A !important;
    background-color: #FFFFFF !important;
}

.pills-wl.sub-pills li a {
    color: #004C6A;
}

.pills-wl.sub-pills li a.active {
    border: 1px solid #004C6A;
    color: #FFFFFF !important;
    background-color: #004C6A !important;
}

.pills-wl li.show a.dropdown-toggle {
    color: #FFFFFF !important;
    background-color: #004C6A !important;
}

.pills-wl li div.dropdown-menu a:hover {
    color: #004C6A;
    background-color: #CEEEE9;
}

.header-wl {
    margin-top: 30px;
    text-align: center;
}

.button-grid {
    margin-top: 10px;
}

.button-grid-container {
    display: table;
    table-layout: fixed;
    padding-left: 5px;
    padding-right: 5px;
}

.button-grid-button {
    margin: 0px 5px;
    padding: 5px;
    font-size: 30px;
    height: 200px;
    text-align: center;
    background-color: #A3BEC9;
    word-wrap: break-word;
    display: table-cell;
    vertical-align: middle;
}

.button-grid-button.blank {
    background-color: #C5C5C5;
    border: 2px dashed #B8B8B8;
}

a .button-grid-button {
    color: #000000;
}

a .button-grid-button:hover {
    color: #FFFFFF;
}

a.no-underline:hover {
    text-decoration: none;
}

.btn-wl {
    background-color: #004C6A;
    color: #FFFFFF;
}

.btn-wl[disabled]:hover {
    background-color: #004C6A;
    color: #FFFFFF;
}

.btn-wl:hover {
    background-color: #336F87;
    color: #FFFFFF;
}

.btn-wl:active {
    box-shadow: 0 0 0 0.2rem rgba(0, 76, 106, 0.5);
}

.btn-wl:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 76, 106, 0.5);
}

.col-form-label {
    font-size: 20px;
}

.margin-top-2rem {
    margin-top: 2rem;
}

.bottom-border {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #004C6A;
}

.select-border {
    border: 1px solid #004C6A;
}

.product-select-box {
    background-color: #C4D5DC;
    margin: 0 -20px;
    padding: 0 20px;
}

.product-select-button {
    color: #FFFFFF;
    background-color: #35B7A5;
    border: 1px solid #35B7A5;
}

.product-select-button:hover {
    color: #FFFFFF;
    background-color: #27A795;
    border: 1px solid #27A795;
}

.product-select-button:active {
    color: #FFFFFF;
    box-shadow: 0 0 0 0.2rem rgba(53, 183, 165, 0.5);
}

.product-select-button:focus {
    color: #FFFFFF;
    box-shadow: 0 0 0 0.2rem rgba(53, 183, 165, 0.5);
}

.product-search-header {
    margin-left: 15px;
    margin-top: 10px;
}

.product-search-filters {
    margin-left: 0px;
    margin-top: 25px;
}

.product-search-filter {
    padding-left: 0px;
    padding-right: 0px;
}

.product-search-button {
    cursor: pointer;
    background-color: #004C6A;
    height: calc(1.5em + 0.75rem + 2px);
}

.product-search-button:hover {
    background-color: #336F87;
}

.product-search-button:active {
    box-shadow: 0 0 0 0.2rem rgba(0, 76, 106, 0.5);
}

.product-search-table {
    color: #004C6A;
    font-size: 18px;
}

.product-search-table th {
    font-weight: normal;
    border-top: 0px;
}

.product-search-table td {
    vertical-align: middle;
}

.variant-display-item {
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.variant-text-button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.alert-wl {
    margin: 20px 40px;
}

.alert-wl ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.col-form-label.value {
    font-size: 1rem;
    margin-top: 6px;
}

input[type=number].no-number-arrows::-webkit-inner-spin-button, input[type=number].no-number-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}