.originalColours {
    /*  body color: #004C6A
        body background: NONE
       .topbar background: #004C6A
       .nav-wl background: #336F87
       .btn-wl background: #004C6A
       .btn-wl hover background: #336F87
       .wl-search-button background: #004C6A
       .wl-search-button hover background: #336F87
       .wl-striped0 background: #336F8720;
       .wl-striped1 background: #336F8720;
       .border-wl border-color: #004C6A !important;
       .table-wl a: #004C6A;
       .bottom-border border-bottom: 1px solid #004C6A;
       .select-border border: 1px solid #004C6A;
       .tabs-wl li a color: #004C6A;
     */
    /* Black bean = 2E0E02 */
    /* Black bean hover = 4E2E22 */
    /* Dark blue = 15141F */
    /* Not quite so dark blue = 575756 */
}

/* FONT STACK */
@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Regular.ttf);
}

body,
input, select, textarea {
    font-family: "Nunito", "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #575756;
    background: #FFFFFF;
}

a {
    border-radius: 0 !important;
}

button {
    border-radius: 0 !important;
}

input {
    border-radius: 0 !important;
}

select {
    border-radius: 0 !important;
}

p {
    font-size: 20px;
}

/*E6283B and FFFFFF*/
.topbar {
    background: #FFFFFF;
    min-height: 60px;
    color: #000000;
    font-size: 20px;
}

.topbar-logo {
    height: 60px;
}

.nav-wl {
    padding: 0 1rem;
    background: #575756;
    color: #FFFFFF;
    font-size: 24px;
}

.nav-wl .nav-item {
    padding-left: 50px;
    padding-right: 50px;
}

.nav-wl .nav-item:hover {
    background: #35343F !important;
}

.nav-wl .nav-item .dropdown-menu {
    background: #575756;
    border: 1px solid #FFFFFF;
}

.nav-wl .nav-item a {
    color: #FFFFFF !important;
}

.nav-wl .nav-item a:hover {
    color: #FFFFFF !important;
}

.nav-wl .vertical-line {
    height: 60px;
    border-left: 1px solid #FFFFFF;
}

.nav-wl .dropdown-menu a:hover {
    background: #35343F;
}

.nav-wl .dropdown-menu .dropdown-item:active {
    background: #35343F;
}

.nav-wl .dropdown-menu .dropdown-item:focus {
    background: #35343F;
}

.nav-wl .dropdown-menu .dropdown-item.disabled {
    color: #AFAFAF !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 10px;
    top: 40% !important;
}

.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -34px;
    left: 100% !important;
}

@media (max-width: 992px) {
    .dropdown-menu {
        display: inline-block;
    }
    .dropdown-menu .dropdown-submenu {
        width: auto;
    }
}

.pills-wl {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 2px solid #707070;
}

.pills-wl.sub-pills {
    padding-bottom: 20px;
    border-bottom: 2px solid #575756;
}

.pills-wl li a {
    color: #575756;
}

.pills-wl li a.active {
    border: 2px solid #707070;
    color: #575756 !important;
    background-color: #FFFFFF !important;
}

.pills-wl.sub-pills li a {
    color: #575756;
}

.pills-wl.sub-pills li a.active {
    border: 1px solid #575756;
    color: #FFFFFF !important;
    background-color: #575756 !important;
}

.pills-wl li.show a.dropdown-toggle {
    color: #FFFFFF !important;
    background-color: #575756 !important;
}

.pills-wl li div.dropdown-menu a:hover {
    color: #575756;
    background-color: #CEEEE9;
}

.tabs-wl {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.tabs-wl li a {
    color: #575756;
    background-color: #FFF9F9 !important;
}

.tabs-wl li a.active {
    border-style: solid;
    border-width: 2px 2px 0 2px;
    border-color: #575756 !important;
    color: #575756 !important;
}

.tabs-wl li a:not(.active) {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #575756 !important;
    color: #575756 !important;
}

.tabs-wl li a.disabled {
    color: #575756 !important;
    background-color: #EFEFEF !important;
}

.tabs-wl li a:not(.active):hover {
    border-style: solid;
    border-width: 1px;
    border-color: #575756 !important;
}

.tabs-wl li.show a.dropdown-toggle {
    color: #FFFFFF !important;
    background-color: #575756 !important;
}

.tabs-wl li div.dropdown-menu a:hover {
    color: #575756;
    background-color: #CEEEE9;
}

.collapsible-products .collapsed .if-not-collapsed {
    display: none;
}

.collapsible-products .if-not-collapsed {
    display: block;
}

.collapsible-products .collapsed .if-collapsed {
    display: block;
}

.collapsible-products .if-collapsed {
    display: none;
}

.header-wl {
    margin-top: 30px;
    text-align: center;
}

.button-grid {
    margin-top: 10px;
}

.button-grid-container {
    display: table;
    table-layout: fixed;
    padding-left: 5px;
    padding-right: 5px;
}

.button-grid-button {
    margin: 0px 5px;
    padding: 5px;
    font-size: 30px;
    height: 200px;
    text-align: center;
    background-color: #575756;
    word-wrap: break-word;
    display: table-cell;
    vertical-align: middle;
}

.button-grid-button.blank {
    background-color: #C5C5C5;
    border: 2px dashed #B8B8B8;
    color: #575756;
}

a .button-grid-button {
    color: #FFFFFF;
}

a .button-grid-button:hover {
    color: #E6283B;
}

a .button-grid-button.blank:hover {
    color: #FFFFFF;
}

a.no-underline:hover {
    text-decoration: none;
}

.prevLink, .step, .nextLink, .currentStep {
    margin: 0 0 0 3px;
    padding: 7px 10px;
    background-color: #004C6A;
    color: #FFFFFF;
}

.prevLink:hover, .step:hover, .nextLink:hover {
    color: #FFFFFF;
    background-color: #105F7F;
    text-decoration: none;
}

.currentStep {
    background-color: #319CAA;
}

.btn-wl {
    background-color: #575756;
    color: #FFFFFF;
    border-radius: 4px !important;
}

.btn-wl[disabled]:hover {
    background-color: #575756;
    color: #FFFFFF;
}

.btn-wl:hover {
    background-color: #35343F;
    color: #FFFFFF;
}

.btn-wl:active {
    box-shadow: 0 0 0 0.2rem rgba(0, 76, 106, 0.5);
}

.btn-wl:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 76, 106, 0.5);
}

.btn-wl.red {
    background-color: #E6283B;
}

.btn {
    border-radius: 4px !important;
}

.col-form-label {
    /*font-size: 20px;*/
}

.margin-top-2rem {
    margin-top: 2rem;
}

.bottom-border {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #575756;
}

.form-control.bottom-border {
    background: transparent;
}

.form-control:focus {
    border-color: #575756;
    box-shadow: inset 0 1px 1px rgba(230, 40, 59, 0.075), 0 0 8px rgba(230, 40, 59, 0.6);
}

.form-control.bottom-border:read-only {
    background: #E9ECEF;
}

.form-check-input:read-only {
    background: #E9ECEF !important;
}

.select-border {
    border: 1px solid #575756;
}

.product-select-box {
    background-color: #F0F0F0;
    margin: 0 -20px;
    padding: 0 20px;
}

.product-search-header {
    margin-left: 15px;
    margin-top: 10px;
}

.product-search-filters {
    margin-left: 0px;
    margin-top: 25px;
}

.product-search-filter {
    padding-left: 0px;
    padding-right: 0px;
}

.wl-search-button {
    cursor: pointer;
    background-color: #575756;
    height: calc(1.5em + 0.75rem + 2px);
}

.wl-search-button:hover {
    background-color: #35343F;
}

.wl-search-button:active {
    box-shadow: 0 0 0 0.2rem rgba(0, 76, 106, 0.5);
}

.product-search-table {
    color: #004C6A;
    font-size: 18px;
}

.product-search-table th {
    font-weight: normal;
    border-top: 0px;
}

.product-search-table td {
    vertical-align: middle;
}

.product-maintenance-input input[type=number]::-webkit-inner-spin-button,
.product-maintenance-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wl-checkbox {
    height: 20px;
    margin-top: 10px;
}

.variant-display-item {
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.variant-text-button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.alert-wl {
    margin: 20px 40px;
}

.alert-wl ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.col-form-label.value {
    font-size: 1rem;
    margin-top: 6px;
}

input[type=number].no-number-arrows::-webkit-inner-spin-button, input[type=number].no-number-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.wl-striped0 {
    background: #F0F0F0;
}

.wl-striped1 {
    background: #FFF9F9;
}

.wl-striped0.hoverable:hover {
    background: #E9E9E9;
}

.wl-striped1.hoverable:hover {
    background: #FDF2F2;
}

.pl-125 {
    padding-left: 1.25rem;
}

.promotion-products-container {
    min-height: 20px;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    border-radius: 4px;
}

.promotion-products-container.is-invalid {
    min-height: 20px;
    background-color: whitesmoke;
    border: 1px solid crimson;
    border-radius: 4px;
}

.promotion-product-container {
    padding: 10px 10px 7px;
    background-color: #bbbbbb;
    border-radius: 5px;
}

.border-wl {
    border-color: #575756 !important;
}

.table-wl a {
    color: #575756;
}

li.breadcrumb-item a {
    color: #575756;
}

.card.accordion-card {
    margin-top: 1px;
}

.pointer {
    cursor: pointer;
}

.breadcrumb {
    background: transparent;
    border: 1px solid #575756;
    border-radius: 4px;
}

.z-index-1 {
    z-index: 1;
}

.shift-report {
    font-family: 'Courier New', monospace;
    font-size: 8pt;
    border: 1px solid black;
}

.cash-up-by a.disabled {
    color: #575756;
}

.cash-up-by a.disabled:hover {
    color: #575756;
    text-decoration: none;
    cursor: default;
}

.hidden {
    display: none !important;
    visibility: hidden !important
}